/* Styling for the title which is currently my name and contact information */
h1 {
    color: purple;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid black; /* Set the border style and color */
    background: url('fishing.jpg') left center no-repeat, url('basketball.jpg') right center no-repeat;
    background-size: 20% auto; /* Adjust the size as needed */
}

/* Styling for the about section at the top */

p {
    color: green;
}

/* Link styling for all links */
a {
    color: gold;
}

/* Styling for the resume and contact me tags */

.grid1 {
    display: flex;
    justify-content: space-between;
    /* Adjust as needed */
}

.grid1 a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ddd;
    /* Optional: Add border for styling */
    margin: 5px;
    /* Optional: Add margin for spacing */
    color: black;
    /* Button background color */
    background-color: black;
    /* Optional: Add color for text */
}

/* Styling for the footer */

footer {
    background-color: #333;
    /* Background color of the footer */
    color: #fff;
    /* Text color in the footer */
    text-align: center;
    /* Center-align text in the footer */
    padding: 20px;
    /* Add some padding for spacing */
}

/* Styling for the links to resume and about page */

#resume-link {
    color: red;
}

#about-link {
    color: yellow;
}

#portfolio-link {
    color: blue;
}

/* Styling for the project paragraphs text */

#project-text {
    color: purple;
}
